.payment-page-container {
    width: 100%;

    min-height: 85vh;

    background-color: #101010;

    padding: 2vh 0;

    display: flex;

    flex-direction: column;
    align-items: center;

    gap: 2vh;
}

.payment-page-container>.payment-user-details {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.payment-user-details>.user-details {
    width: 70%;
}

.payment-container {
    width: 30%;
    display: flex;
    flex-direction: column;
}